x<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/base.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/navbar.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slideshow.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/comment.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/particless.css">
</head>

<body>

  {% include index.md %}

  <main class="container">
    {{ content }}
  </main>
<script src="{{ site.baseurl }}/assets/js/particles.js"></script>
<script src="{{ site.baseurl }}/assets/js/slideshow.js"></script>
<script src="{{ site.baseurl }}/assets/js/toggle-view.js"></script>
<script src="{{ site.baseurl }}/assets/js/comments.js"></script>

</body>
</html>
